<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page not found</title>
</head>
<body>
    <h1>Oh snap, we couldn't find that page!</h1>
    <p>
        The page you requested (<code>{{.URL}}</code>) could not be found!
    </p>
</body>
</html>