<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    {{if .Error}}
        <p style="color:red">Error: {{.Error}}</p>
    {{end}}
    {{if .Info}}
        <p style="color:chartreuse">{{.Info}}</p>
    {{end}}
    {{if .User}}
        <p>
            Hello <b>{{.User.Username}}</b>!
        </p>
    {{else}}
        <p>
            You know, you should really <a href="/login">log in</a>!
        </p>
    {{end}}
    Hello, this is homepage!
</body>
</html>