<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Threads</title>
</head>
<body>
    <h1>Threads</h1>
    <table>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Created</td>
        </tr>
        {{range .Threads}}
            <tr>
                <td>{{.Title}}</td>
                <td>{{.Author}}</td>
                <td>{{.CreatedAt}}</td>
            </tr>
        {{end}}
    </table>
</body>
</html>